* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
 }

.accordion-button.collapsed {
    background: #CC8383;
    border: 10px double #493831;
}

.accordion-collapse {
    background: #ffa4a4;
    border: 10px double #493831;
}


.header {
    background-image: url(a.jpg);
    padding: 5px;
    font-size: 35px;
    border:10px double #493831;
    width: 100%;
}
.foto {
    background-image: url(a.jpg);
    font-size: 35px;
    border: 10px double #493831;
    padding: 5px;
    width: 100%;
}

.active {
    color: #493831 !important;
}

.fut {
    background-image: url(futbol.jpg);
    background-size: cover;
    border-radius: 10px;
}
.tenis {
    background-image: url(tenis.webp);
    background-size: cover;
    border-radius: 10px;
}
.rugby {
    background-image: url(rugbu.jpg);
    background-size: cover;
    border-radius: 10px;
}
.impo {
    color: #493831 !important;
}

.anime {
  position: relative;
  animation: movimiento infinite;
  animation-duration: 1.5s;
}

@keyframes movimiento {
  from {top: 0px;}
  to {top: 35px;}
}

a:hover{
  background-color: #965959;
  transition: background-color .5s;
  border-radius: 10px;

}

.columnas1 {
   padding: 10px;
   
 }

.columnas2 {
    background-color: #ffa4a4;
    height: auto;
}

.bordec {
    border: 10px double #493831;
}

 
 .fila:after {
   content: "";
   display: table;
   clear: both;
 }

.footer {
   background-color: #dfcccc;
   padding: 10px;
   text-align: center;
 }

 @font-face {
   font-family: mifuente;
   src: url(DeliciousHandrawn-Regular.ttf);
}

.texto {
    font-family: mifuente;
    text-align: center;
    color: #493831;
}

.texto1 {
  font-family: 'Alkatra', cursive;
  color: #493831;
}

.margen{
  margin-left: 5px;
}

.btc {
    border-top-color: #CC8383;
}
.carousel-inner input {
    background-color: whitesmoke;
    border-radius: 5px;
}
.carousel-inner select{
  background-color: whitesmoke;
  border-radius: 5px;
}

.btnNext {
    display: inline-block;
    border: 1px solid #444348;
    border-radius: 3px;
    margin: 5px;
    color: #444348;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
}